@font-face {
    font-family: 'Press Start 2p';
  }
  body {
    background-color: black;
    font-size: 30pt;
    font-family: 'Press Start 2p';
  }

#menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 50vw;
}

.ng_btn {
    position: fixed;
    left: 65vw;
    top: 25vw;

    text-align: center;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.load_btn {
    position: fixed;
    left: 65vw;
    top: 32vw;

    text-align: center;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.ng_btn:active{
    box-shadow: none;
    position: relative;
    left: 65vw;
	top: 24vw;
}

.load_btn:active {
    box-shadow: none;
    position: relative;
    left: 65vw;
	top: 31vw;
}